.error-main {
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.error-main svg {
  height: var(--spacing-10);
  width: var(--spacing-10);
  color: var(--accent-2-900);
}

.error-title {
  font-size: var(--font-size-7);
  margin-bottom: var(--spacing-4);
}

.error-text {
  font-size: var(--font-size-5);
  max-width: var(--line-length-medium);
  margin-bottom: var(--spacing-4);
}

.button-container {
  display: flex;
  gap: var(--spacing-4);
}
