VITE_APP_API_URL=https://server.site/api
VITE_SQIDS_ALPHABET="abcdefgh12345678"
VITE_BASIC_LOGIN_SITE_URL=http://public-blog.site/log-in
VITE_AUTHOR_PASS_LINK=https://github.com/MewKay/blog-api-server/
