.lightButton,
.darkButton {
  composes: button from "@/styles/components/button.module.css";
}

.lightButton {
  color: var(--grey-900);
  background-color: var(--grey-100);
}

.darkButton {
  color: var(--grey-100);
  background-color: var(--grey-800);
}
