.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--spacing-16);
}

.form label {
  font-size: var(--font-size-6);
}

.title-input input {
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-bold);
  color: var(--primary-600);
}

.text-input textarea {
  background-color: var(--grey-100);
  font-size: var(--font-size-3);
  border: none;
  border-radius: var(--radius-small);
  width: 100%;
  padding: var(--spacing-2) var(--spacing-3);
  resize: none;
  min-height: var(--spacing-12);
  margin-bottom: var(--spacing-4);
}

.publish-input {
  display: flex;
  align-items: center;
  padding-top: var(--spacing-5);
  background-color: var(--primary-200);
  border-radius: var(--radius-medium);
}

.publish-input label {
  display: flex;
  align-items: center;
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-bold);
  color: var(--primary-800);
}

.publish-input input {
  margin-left: var(--spacing-4);
  height: var(--spacing-5);
  width: var(--spacing-5);
  accent-color: var(--primary-800);
}

.publish-input input:hover {
  cursor: pointer;
}

.button-container {
  display: flex;
  gap: var(--spacing-3);
}

.submit-button,
.delete-button {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
}

.submit-button {
  background-color: var(--primary-500);
  color: var(--grey-100);
}

.delete-button {
  background-color: var(--accent-3-500);
  color: var(--accent-3-100);
}
