.post-item {
  background-color: var(--grey-100);
  padding: var(--spacing-4) var(--spacing-5);
  border-radius: var(--radius-medium);
  box-shadow: var(--shadow-1);
  transition: all 0.1s;
}

.post-item:hover {
  transform: scale(103%);
}

.post-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--grey-900);
}

.post-item h3 {
  font-size: var(--font-size-4);
  color: var(--primary-600);
  margin-bottom: var(--spacing-1);
}

.date-container {
  display: flex;
  gap: var(--spacing-1);
  font-size: var(--font-size-1);
  color: var(--grey-600);
  margin-bottom: var(--spacing-2);
}

.preview {
  font-size: var(--font-size-2);
  color: var(--grey-800);
  margin-bottom: var(--spacing-2);
}

.publication-container {
  display: flex;
  justify-content: right;
}

.publication-status {
  display: flex;
  gap: var(--spacing-1);
  font-size: var(--font-size-3);
  color: var(--primary-700);
}
