.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing-5);
  padding-bottom: var(--spacing-5);
}

.date {
  font-size: var(--font-size-2);
  margin-bottom: var(--spacing-6);
}

.title {
  text-align: center;
  font-size: var(--font-size-6);
  max-width: var(--line-length-small);
  margin-bottom: var(--spacing-3);
  color: var(--primary-600);
}

.text {
  font-size: var(--font-size-4);
  max-width: var(--line-length-medium);
  margin-bottom: var(--spacing-6);
}

.button-container {
  align-self: flex-start;
  display: flex;
  gap: var(--spacing-4);
  align-items: center;
}

.publish-status,
.publish-button,
.edit-link {
  display: flex;
  gap: var(--spacing-1);
  align-items: center;
  font-size: var(--font-size-5);
}

.publish-button,
.edit-link {
  composes: button from "@/styles/components/button.module.css";
}

.publish-status {
  color: var(--primary-800);
}

.publish-button {
  background-color: var(--primary-600);
  color: var(--grey-100);
}

.edit-link {
  background-color: var(--grey-100);
  color: var(--primary-800);
  text-decoration: none;
}

@media (min-width: 760px) {
  .title {
    font-size: var(--font-size-7);
    max-width: var(--line-length-medium);
  }

  .text {
    max-width: var(--line-length-large);
    font-size: var(--font-size-5);
  }
}
